.square {
  position: absolute;
  width: 150px;
  height: 300px;
  background-color: transparent;
  border: 1px solid $text-dark;
  border-color: transparent;
  transition: border-color 1s ease;

  &__text {
    position: absolute;
    bottom: 10px;
    font-size: 14px;
    line-height: 21px;
    transition: opacity 1s ease;

    opacity: 0;
    
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 40px;
      height: 5px;
      background-color: $text-dark;
    }

  }

  &--active {
    border-right-color: $text-dark;
    border-bottom-color: $text-dark;
  }

  &__text--active {
    opacity: 1;
  }

  &:nth-of-type(1) {
    top: 44%;
    left: 6%;
  }

  &:nth-of-type(2) {
    top: 55%;
    left: 29%;
  }

  &:nth-of-type(3) {
    left: 36%;
    top: 36%;
  }

  &:nth-of-type(4) {
    top: 24%;
    left: 52%;
  }

  &:nth-of-type(5) {
    top: 40%;
    right: 17%;
  }

  &:nth-of-type(6) {
    top: 30%;
    right: 11%;
  }
}

.circle {
  position: absolute;
  top: -60px;
  right: -20px;
  width: 40px;
  height: 40px;

  z-index: 1;

  border-radius: 50%;
  background-color: $accent-light;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: "+";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  &--active {
    background-color: $hover-dark;
    transform: rotate(225deg);
  }

}

@media (max-width: 686px) {
  .square {
    display: none;
  }
}
