.features {
  position: relative;

  &__title {
    margin-bottom: 24px;
    color: $text-dark;
  }

  &__item {
    max-width: 500px;
    z-index: 1;

    &:first-of-type {
      transform: translateX(100%);
    }

    &:nth-of-type(2) {
      margin-bottom: 121px;
      transform: translateX(15%);
    }

    &:last-of-type {
      transform: translate(50%, 20px);
    }
  }

  &__item-title {
    font-size: 34px;
    line-height: 41px;
    color: $accent-dark;
    margin-bottom: 44px;
  }

  &__list {
    list-style-type: disc;
  }

  &__list-item {
    font-size: 16px;
    line-height: 24px;
    color: $text-dark;
    margin-bottom: 13px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    position: absolute;
    bottom: 36px;
    right: 123px;

    max-width: 100%;
    height: auto;
  }

  &__photo {
    position: absolute;
    width: 1113px;
    height: 701px;

    bottom: 0;
    right: 0;
    z-index: -1;

    background-color: $bg-features;
  }
}
