.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 142px 0 100px;

  &__copy {
    color: $el-opacity;
    font-size: 14px;
    line-height: 21px;
  }
}
