.form {
  width: 100%;

  &__label {
    display: block;

    &:first-of-type {
      margin-bottom: 20px;
    }

    &:nth-of-type(2) {
      margin-bottom: 30px;
    }
  }

  &__input {
    width: 100%;
    background-color: transparent;
    padding: 15px 30px;

    border: 1px solid $el-opacity;
    outline: none;

    font-size: 16px;
    line-height: 19px;
    color: $text-dark;

    &:focus,
    &:active {
      border: 1px solid $text-dark;
    }

    &::placeholder {
      font-family: Roboto, sans-serif;
      color: $el-opacity;
    }

  }

  &__message {
    height: 128px;
    resize: none;

    font-family: Roboto, sans-serif;
  }

  &__contacts {
    max-width: 438px;
  }

}

@media (max-width: 686px) {
  .form__contacts {
    max-width: 100%;
  }
}
