.header {
  padding-top: 13px;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 103px;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 121px;
  }

  &__description {
    max-width: 380px;
  }

  &__photo {
    overflow-x: hidden;
  }

  &__title {
    color: $text-dark;
    margin-bottom: 27px;
  }

  &__text {
    max-width: 276px;
    color: $text-dark;
    font-size: 16px;
    line-height: 24px;
  }

}

@media (max-width: 1024px) {
  .header {

    &__title {
      font-size: 48px;
      line-height: 62px;
    }

  }
}

@media (max-width: 918px) {
  .header {

    &__description {
      position: absolute;
    }

    &__img {
      max-width: 100%;
      transform: translateX(255px);
    }
  }
}

@media (max-width: 686px) {
  .header {

    &__row {
      margin-bottom: 0;
    }

    &__main {
      flex-direction: column-reverse;
      margin-bottom: 0;
    }

    &__description {
      position: relative;
      text-align: center;
    }

    &__img {
      transform: translateX(0);
      max-width: 150%;
    }

    &__text {
      max-width: 100%;
      text-align: center;
    }

    &__title {
      font-size: 36px;
      line-height: 46px;
    }

  }
}

@media (max-width: 425px) {
  .header__title {
    font-size: 26px;
    line-height: 36px;
  }
}
