.technology {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;

  &__title {
    color: $text-dark;
    padding: 0 100px;
  }

  &__view {
    position: relative;
    overflow: hidden;
    height: 710px;
  }

  &__photo {
    position: absolute;
    transition: transform 0.5s ease;
  }

  &__img {
    transform: translateX(80px);
  }

}

@media (max-width: 686px) {
  .technology {
    padding: 0 30px;

    &__view {
      height: 600px;
    }

    &__photo {
      transform: translateX(-100px);
    }

    &__img {
      height: 600px;
    }

    &__title {
      padding: 0;
      margin-bottom: 40px;
    }

  }
}
