h1,
h2,
h3 {
  font-family: Heebo, sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 64px;
  line-height: 83px;
}

h2 {
  font-size: 56px;
  line-height: 72px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}
