.video {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;

  &__frame {
    height: 680px;
  }
}

@media (max-width: 686px) {
  .video__frame {
    height: 280px;
  }
}
