$bg: #f7f7f7;

$accent-dark: #0c797a;

$accent-light: #0db2b3;

$text-dark: #333;

$text-light: #7c7c7c;

$hover-dark: #131313;

$video: #f3f4f5;

$el-opacity: #bdbdbd;

$bg-features: #f2f2f2;

$social: #4f4f4f;

$facebook-hover: #4267b2;

$twitter-hover: #64a8f2;

$instagram-hover: #e2102d;
