html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

a {
  text-decoration: none;
  outline: none; }

button {
  padding: 0;
  outline: none; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Heebo";
  src: url("../fonts/Heebo-Black.ttf") format("ttf");
  font-weight: 800;
  font-style: normal; }

h1,
h2,
h3 {
  font-family: Heebo, sans-serif;
  text-transform: uppercase; }

h1 {
  font-size: 64px;
  line-height: 83px; }

h2 {
  font-size: 56px;
  line-height: 72px; }

h3 {
  font-size: 24px;
  line-height: 30px; }

@media (max-width: 686px) {
  h1 {
    font-size: 44px;
    line-height: 57px; }
  h2 {
    font-size: 37px;
    line-height: 55px; } }

.header {
  padding-top: 13px; }
  .header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 103px; }
  .header__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 121px; }
  .header__description {
    max-width: 380px; }
  .header__photo {
    overflow-x: hidden; }
  .header__title {
    color: #333;
    margin-bottom: 27px; }
  .header__text {
    max-width: 276px;
    color: #333;
    font-size: 16px;
    line-height: 24px; }

@media (max-width: 1024px) {
  .header__title {
    font-size: 48px;
    line-height: 62px; } }

@media (max-width: 918px) {
  .header__description {
    position: absolute; }
  .header__img {
    max-width: 100%;
    -webkit-transform: translateX(255px);
            transform: translateX(255px); } }

@media (max-width: 686px) {
  .header__row {
    margin-bottom: 0; }
  .header__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 0; }
  .header__description {
    position: relative;
    text-align: center; }
  .header__img {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    max-width: 150%; }
  .header__text {
    max-width: 100%;
    text-align: center; }
  .header__title {
    font-size: 36px;
    line-height: 46px; } }

@media (max-width: 425px) {
  .header__title {
    font-size: 26px;
    line-height: 36px; } }

.logo {
  display: block;
  width: 161px;
  height: 26px;
  z-index: 1; }
  .logo--footer {
    margin-bottom: 65px; }
  .logo--success {
    margin-bottom: 65px; }

@media (max-width: 510px) {
  .logo--success {
    margin-bottom: 30px; } }

.switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .switcher__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .switcher__item {
    margin-right: 12px;
    text-transform: uppercase; }
    .switcher__item:last-child {
      margin-right: 37px; }
      .switcher__item:last-child::before {
        content: "/"; }
  .switcher__link {
    font-size: 14px;
    line-height: 21px;
    color: #bdbdbd;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease; }
    .switcher__link:active, .switcher__link:focus, .switcher__link:hover {
      color: #333; }

@media (max-width: 686px) {
  .switcher {
    display: none; } }

.burger {
  display: none;
  background: transparent;
  position: relative;
  height: 14px;
  width: 24px;
  z-index: 1; }
  .burger::before, .burger::after {
    content: "";
    height: 2px;
    width: 24px;
    left: 0;
    background: #0db2b3;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease; }
  .burger::before {
    -webkit-box-shadow: #0db2b3 0 14px 0 0;
            box-shadow: #0db2b3 0 14px 0 0;
    position: absolute;
    top: 0; }
  .burger::after {
    position: absolute;
    top: calc(100% - 7px); }
  .burger--active::before {
    -webkit-box-shadow: transparent 0 0 0 0;
            box-shadow: transparent 0 0 0 0;
    top: 50%;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg); }
  .burger--active::after {
    top: 50%;
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg); }

@media (max-width: 686px) {
  .burger {
    display: block; } }

.button {
  cursor: pointer;
  color: #f7f7f7;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease; }
  .button__link {
    display: block;
    color: inherit;
    padding: 17px 40px; }
  .button--buy {
    border: 1px solid #333;
    background-color: #333; }
    .button--buy:hover {
      background-color: #131313; }
  .button--form {
    padding: 17px 40px;
    background-color: #0db2b3;
    border: 1px solid #0db2b3; }
    .button--form:hover {
      background-color: #0c797a; }
  .button--success {
    color: #0db2b3;
    background-color: transparent;
    border: 1px solid #0db2b3; }
    .button--success:hover {
      background-color: #0c797a;
      color: #fff; }

.nav {
  padding: 27px 0; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .nav__item {
    margin-right: 30px; }
    .nav__item:last-child {
      margin-right: 0; }
  .nav__link {
    color: #bdbdbd;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease; }
    .nav__link:focus, .nav__link:hover {
      color: #333; }
  .nav__mobile {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #333;
    background-color: #f2f2f2;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out; }
  .nav__mobile--active {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .nav__list--mob {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 60px; }
  .nav__item--mob {
    margin-right: 0;
    margin-bottom: 40px; }

@media (max-width: 686px) {
  .nav__header {
    display: none; } }

@media screen and (min-width: 686px) {
  .nav__mobile {
    display: none; } }

.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 20px;
  padding: 150px 0; }
  .services__item {
    max-width: 276px;
    text-align: center; }
  .services__icon {
    width: 48px;
    height: 48px;
    margin-bottom: 42px; }
  .services__title {
    height: 60px;
    margin-bottom: 20px;
    overflow: hidden; }
  .services__text {
    font-size: 14px;
    line-height: 21px;
    color: #7c7c7c; }

@media (max-width: 1024px) {
  .services {
    grid-template-columns: 1fr 1fr; } }

@media (max-width: 686px) {
  .services {
    grid-template-columns: 1fr;
    padding: 100px 0 50px; }
    .services__item {
      max-width: 100%; }
    .services__icon {
      margin: 0 auto 42px; } }

.video {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden; }
  .video__frame {
    height: 680px; }

@media (max-width: 686px) {
  .video__frame {
    height: 280px; } }

.design {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -ms-flex-line-pack: end;
      align-content: end;
  padding: 150px 0; }
  .design__photo {
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self: end;
    align-self: end; }
  .design__description {
    grid-column: 2 /3;
    grid-row: 2 / 3;
    padding: 0 30px; }
  .design__title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: end;
    margin-bottom: 30px;
    color: #333;
    -webkit-transform: translateX(-105px);
            transform: translateX(-105px); }
  .design__text {
    max-width: 378px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    color: #7c7c7c; }
  .design__link {
    display: block;
    position: relative;
    padding-bottom: 6px;
    color: #0db2b3;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease; }
    .design__link::after {
      content: "";
      position: absolute;
      width: 53px;
      height: 1px;
      background-color: #0db2b3;
      bottom: 0;
      left: 0; }
    .design__link:hover, .design__link:focus {
      color: #0c797a; }

@media (max-width: 686px) {
  .design {
    grid-template-rows: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    padding: 90px 30px; }
    .design__photo {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      justify-self: center;
      margin-bottom: 30px;
      width: 100%; }
    .design__description {
      grid-row: 3 / 4;
      grid-column: 1 / 3;
      align-self: start;
      padding: 0; }
    .design__text {
      max-width: 100%; }
    .design__title {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
      align-self: end;
      margin-bottom: 50px;
      -webkit-transform: translateX(0);
              transform: translateX(0); } }

.arrows {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 100px; }

.prev,
.next {
  cursor: pointer; }

@media (max-width: 1024px) {
  .arrows--technology {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 686px) {
  .arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.technology {
  position: relative;
  max-width: 1440px;
  margin: 0 auto; }
  .technology__title {
    color: #333;
    padding: 0 100px; }
  .technology__view {
    position: relative;
    overflow: hidden;
    height: 710px; }
  .technology__photo {
    position: absolute;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
  .technology__img {
    -webkit-transform: translateX(80px);
            transform: translateX(80px); }

@media (max-width: 686px) {
  .technology {
    padding: 0 30px; }
    .technology__view {
      height: 600px; }
    .technology__photo {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px); }
    .technology__img {
      height: 600px; }
    .technology__title {
      padding: 0;
      margin-bottom: 40px; } }

.square {
  position: absolute;
  width: 150px;
  height: 300px;
  background-color: transparent;
  border: 1px solid #333;
  border-color: transparent;
  -webkit-transition: border-color 1s ease;
  transition: border-color 1s ease; }
  .square__text {
    position: absolute;
    bottom: 10px;
    font-size: 14px;
    line-height: 21px;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
    opacity: 0; }
    .square__text::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 40px;
      height: 5px;
      background-color: #333; }
  .square--active {
    z-index: 1;
    border-right-color: #333;
    border-bottom-color: #333; }
  .square__text--active {
    opacity: 1; }
  .square:nth-of-type(1) {
    top: 44%;
    left: 7%; }
  .square:nth-of-type(2) {
    top: 55%;
    left: 27%; }
  .square:nth-of-type(3) {
    left: 43%;
    top: 33%; }
  .square:nth-of-type(4) {
    top: 42%;
    left: 63%; }
  .square:nth-of-type(5) {
    top: 31%;
    right: 10%; }

.circle {
  position: absolute;
  top: -60px;
  right: -20px;
  width: 40px;
  height: 40px;
  z-index: 1;
  border-radius: 50%;
  background-color: #0db2b3;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease; }
  .circle:hover {
    cursor: pointer; }
  .circle::before {
    content: "+";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #fff; }
  .circle--active {
    background-color: #131313;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg); }

@media (max-width: 686px) {
  .square {
    display: none; } }

.testimonial {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 786px;
  margin: 0 auto;
  padding: 150px 30px; }
  .testimonial::before {
    content: "";
    position: absolute;
    width: 233px;
    height: 191px;
    top: 20%;
    background: url(../images/others/quotes.svg) center/contain no-repeat; }
  .testimonial__text {
    margin-bottom: 30px;
    color: #333;
    text-align: center;
    font-family: Heebo, sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    z-index: 1; }
  .testimonial__photo {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    margin-bottom: 20px;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease; }
    .testimonial__photo:hover {
      -webkit-transform: scale(1.3);
              transform: scale(1.3); }
  .testimonial__name {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    line-height: 27px; }
  .testimonial__position {
    position: relative;
    font-size: 14px;
    line-height: 17px;
    color: #7c7c7c; }

@media (max-width: 686px) {
  .testimonial {
    padding: 70px 30px; }
    .testimonial__text {
      font-size: 16px; } }

.features {
  position: relative; }
  .features__title {
    margin-bottom: 24px;
    color: #333; }
  .features__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1; }
    .features__item:first-of-type {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-left: 30px; }
    .features__item:nth-of-type(2) {
      margin-bottom: 121px;
      padding-left: 50px; }
    .features__item:last-of-type {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 121px; }
  .features__block {
    max-width: 616px; }
  .features__item-title {
    font-size: 34px;
    line-height: 41px;
    color: #0c797a;
    margin-bottom: 44px; }
  .features__list {
    list-style-type: disc; }
  .features__list-item {
    font-size: 16px;
    line-height: 24px;
    color: #333;
    margin-bottom: 13px; }
    .features__list-item:last-child {
      margin-bottom: 0; }
  .features__img {
    position: absolute;
    bottom: 18px;
    right: 0;
    z-index: -1;
    max-width: 100%;
    height: auto; }
    .features__img::before {
      content: "";
      position: absolute;
      width: 1100px;
      height: 700px;
      background-color: #f2f2f2; }
  .features__arrows {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 0; }

@media (max-width: 1024px) {
  .features__item {
    padding-left: 0;
    margin-bottom: 50px; }
    .features__item:last-of-type {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding-left: 120px; } }

@media (max-width: 686px) {
  .features {
    background-color: #f2f2f2; }
    .features__title {
      padding: 50px 0;
      margin: 0; }
    .features__img {
      position: relative;
      z-index: 1; }
    .features__block {
      max-width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .features__arrows {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 20px 0 50px; }
    .features__item:first-of-type, .features__item:nth-of-type(2), .features__item:last-of-type {
      margin: 0;
      padding: 0;
      width: 100%; }
    .features__list {
      list-style-type: none; } }

.contacts {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 150px 0; }
  .contacts__title {
    max-width: 540px;
    padding-right: 20px;
    color: #333; }

@media (max-width: 968px) {
  .contacts__title {
    font-size: 37px;
    line-height: 46px; } }

@media (max-width: 968px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .contacts__title {
      margin-bottom: 30px;
      text-align: center; } }

.success {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  opacity: 0; }
  .success__block {
    position: absolute;
    width: 90%;
    height: 90%;
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #333;
    background-color: #f2f2f2;
    -webkit-box-shadow: 0 0 5 0 #0db2b3;
            box-shadow: 0 0 5 0 #0db2b3; }
  .success__title {
    margin-bottom: 40px;
    font-size: 72px;
    line-height: 80px;
    color: #0c797a; }
  .success__text {
    margin-bottom: 15px; }
    .success__text:last-of-type {
      margin-bottom: 40px; }
  .success__footer {
    position: absolute;
    bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .success__socials {
    margin-bottom: 30px; }
  .success--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1; }

@media (max-width: 510px) {
  .success__title {
    font-size: 42px;
    line-height: 42px; }
  .success__socials {
    margin-bottom: 10px; } }

.form {
  width: 100%; }
  .form__label {
    display: block; }
    .form__label:first-of-type {
      margin-bottom: 20px; }
    .form__label:nth-of-type(2) {
      margin-bottom: 30px; }
  .form__input {
    width: 100%;
    background-color: transparent;
    padding: 15px 30px;
    border: 1px solid #bdbdbd;
    outline: none;
    font-size: 16px;
    line-height: 19px;
    color: #333; }
    .form__input:focus, .form__input:active {
      border: 1px solid #333; }
    .form__input::-webkit-input-placeholder {
      font-family: Roboto, sans-serif;
      color: #bdbdbd; }
    .form__input::-moz-placeholder {
      font-family: Roboto, sans-serif;
      color: #bdbdbd; }
    .form__input:-ms-input-placeholder {
      font-family: Roboto, sans-serif;
      color: #bdbdbd; }
    .form__input::-ms-input-placeholder {
      font-family: Roboto, sans-serif;
      color: #bdbdbd; }
    .form__input::placeholder {
      font-family: Roboto, sans-serif;
      color: #bdbdbd; }
  .form__message {
    height: 128px;
    resize: none;
    font-family: Roboto, sans-serif; }
  .form__contacts {
    max-width: 438px; }

@media (max-width: 686px) {
  .form__contacts {
    max-width: 100%; } }

.socials {
  margin-bottom: 36px; }
  .socials__icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 46px;
    cursor: pointer;
    background-color: #4f4f4f;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease; }
    .socials__icon:last-child {
      margin-right: 0; }
  .socials__link {
    display: block;
    width: 100%;
    height: 100%; }
  .socials__facebook {
    -webkit-mask: url(../images/social/facebook.svg) center/contain no-repeat;
            mask: url(../images/social/facebook.svg) center/contain no-repeat; }
    .socials__facebook:hover {
      background-color: #4267b2; }
  .socials__twitter {
    -webkit-mask: url(../images/social/twitter.svg) center/contain no-repeat;
            mask: url(../images/social/twitter.svg) center/contain no-repeat; }
    .socials__twitter:hover {
      background-color: #64a8f2; }
  .socials__instagram {
    -webkit-mask: url(../images/social/instagram.svg) center/contain no-repeat;
            mask: url(../images/social/instagram.svg) center/contain no-repeat; }
    .socials__instagram:hover {
      background-color: #e2102d; }
  .socials__copy {
    color: #bdbdbd;
    font-size: 14px;
    line-height: 21px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 142px 0 100px; }
  .footer__copy {
    color: #bdbdbd;
    font-size: 14px;
    line-height: 21px; }

html {
  scroll-behavior: smooth; }

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  background-color: #f7f7f7; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  max-width: 1440px;
  padding-left: 123px;
  padding-right: 123px;
  margin: 0 auto; }

@media (max-width: 1140px) {
  .container {
    padding-left: 70px;
    padding-right: 70px; } }

@media (max-width: 968px) {
  .container {
    padding-left: 30px;
    padding-right: 30px; } }

/*# sourceMappingURL=main.css.map */
